@charset"UTF-8";
/* 基本色 */
:root {
  --main-color: #509ab2;
  --accent-color:#bf6a7a;
  --dark-main-color:#2b5566;
  --text-brigth-color:#fff;
  --icon-color:#fff;
  --icon-bk-color:#ddd;
  --large-width:1000px;
  --gray-color:#ddd;
  --middle-width:800px;
}
@media(max-width:599px){
  :root {
    font-size: 14px;
  }
}
@media(min-width:600px) and (max-width:799px) {
  :root {
    font-size: 16px;
  }
} 
@media(min-width:800px){
  :root {
    font-size: 18px;
  }
}
body {
  margin: 0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif,;
  font-size: 16px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255,255,255,.9);
  
}

header .headA {
  display: inline-block;
  background-color: #509ab2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-brigth-color);
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
.headB ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.headB a {
  color: inherit;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.headB a:hover {
  background-color: rgba(0,0,0,0.3);
}
.conA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(img/fruits.jpg);;
  background-position: center;
  background-size: cover;
  color: #fff;
  color: var(--text-brigth-color);
  text-align: center;
}
.conA h1 {
  font-size: 10vw;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-left: 0.2em;
}
.conA p {
  font-size: 18px;
  margin-top: 0px;
}
.conA img {
  width: 20%;
}
.conA a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: #bf6a7a;
  background-color: var(--accent-color);
  color: #fff;
  color: var(--text-brigth-color);
  border: solid 3px currentColor;
  font-size: 14px;
  text-decoration: none;
}
.conA a:hover {
  background-image: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2));
}
.conB h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  
}
.conB p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.conB a {
  color: #5d9ab2;
  color: var(--main-color);
  text-decoration: none;
}
.conB a:hover{
  text-decoration: underline;
}
.conB .icon {
  margin-bottom: 20px;  
  display: inline-block;
  font-size: 40px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  color: var(--icon-color);
  background-color: #ddd;
  background-color: var(--icon-bk-color);
}
.conB .text {
  text-align: center;
}
.conB .container{
  margin-top: 80px;
  margin-bottom: 20px;
}
.conB .text {
  padding: 0 20px 60px 20px;
}

.conC h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  
}
.conC p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.conC a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: #bf6a7a;
  background-color: var(--accent-color);
  color: #fff;
  color: var(--text-brigth-color);
  border: solid 3px currentColor;
  font-size: 14px;
  text-decoration: none;
}
.conC a:hover {
  background-image: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2));
}
.conC {
  background-color: #5d9ab2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-brigth-color);
}
.conC .photo{
  background-image: url(img/note.jpg);
  background-position: center;
  background-size: cover;
  min-height: 200px;
}

.conD h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  
}
.conD p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.conD a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: #bf6a7a;
  background-color: var(--accent-color);
  color: #fff;
  color: var(--text-brigth-color);
  border: solid 3px currentColor;
  font-size: 14px;
  text-decoration: none;
  box-shadow:0 0 0 1px #888888 ;
}
.conD a:hover {
  background-image: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2));
}
.conC .text {
  padding: 20px;
}
.conD .text {
  padding: 20px;
  background-color: rgba(255,255,255,.5);

}
.conD .photo {
  background-image: url(img/life.jpg);
  background-position: center;
  background-size: cover;
  min-height: 200px;
  
}
.conD .container{
  padding-top: 2px;
}
.footA h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em

}
.footA p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.footA a{
  text-decoration: none;
  color: inherit;
}
.footA {
  margin-bottom: 30px;
}
footer {
  background-color: #2b5566;
  background-color: var(--dark-main-color);
  color: #fff;
  color: var(--text-brigth-color);
}
footer .container {
  padding: 40px 20px;
}

.footB h3 {
  border-bottom: 1px solid currentColor;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}
.footB ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footB a {
  color: inherit;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding: 5px;
}
.footB a:hover {
  background-color: rgba(0,0,0,0.3);
}
.footB div  {
  margin-bottom: 20px;
}
.footC {
  font-size: 12px;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}
.footD {
  margin-top: 20px;
}
.footD ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.footD a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid currentColor;
  width: 2em;
  line-height: 2em;
  text-align: center;
  margin-right: 8px
}
.footD a:hover {
  background-color: rgba(0,0,0,0.3);
}
/* contents.htmlのCSS */
.nohero header {
  position: static;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid var(--gray-color);
}
.post .container {
  padding: 30px 10px;
  max-width: 800px;
  max-width: var(--middle-width);
  margin-right: auto;
  margin-left: auto;
}
.post h1 {
  font-size: 2rem;
  border-left: 0.75rem solid var(--accent-color);
  padding-left: .5em;
}
.post p {
  font-size: 1rem;
  line-height: 2;
}
.post img {
  max-width: 100%;
}
.bread ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.bread a {
  color: inherit;
  font-size: 0.875rem;
  text-decoration: none;
  display: block;
  padding: 5px;
}
.bread a::after{
  content: '\f054';
  font-family: 'FontAwesome'; 
  opacity: .3;
  margin-left: 10px;
}
.bread a:hover {
  background-color: rgba(0,0,0,0.3);
}

/* aboutページ */
.history h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  
}
.history p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}
.history {
  background-color: #5d9ab2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-brigth-color);
}
.history .photo{
  background-image: url(img/plant.jpg);
  background-position: center;
  background-size: cover;
  min-height: 200px;
}
.history .text {
  padding: 20px;
}
.history table {
  border-top:1px solid #ddd;
  border-collapse: collapse;
  font-size: 0.875rem;
}
.history th, .history td {
  border-bottom: 1px solid #ddd;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
.history th {
  text-align: left;
  word-break: keep-all;
  padding-right: 1rem;
}
/* contactページ */
.contact {
  border: 1px solid #ddd;
  border: 1px solid var(--gray-color);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  
}
.contact h2 {
  margin-top: 0px;
  font-size: 1.2rem;
}
.contact span {
  font-size: 2.2rem;
  border-radius: 50%;
  background-color: #5d9ab2;
  background-color: var(--main-color);
  line-height: 2em;
  width: 2em;
  text-align: center;
  display: inline-block;
  color: #fff;
  color: var(--icon-color);
  margin-bottom: 20px;
  
}
.contact a {
  font-size: 1.4rem;
  color: inherit;
  text-decoration: none;
}
.location iframe{
  width: 100%;
  height: 400px;
  vertical-align: bottom;
}
.location h2 {
  font-size: 1.5rem;
  background-color: #509ab2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-brigth-color);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
/* list-a ページ */
.conA.compact {
  height: 450px;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img/balloon.jpg);
  min-height: 0;

}
.listA h2 {
  font-size: 18px;
}
.listA p {
  font-size: 14px;
  opacity: .8;
}
.listA .photo{
  background-position: center;
  background-size: cover;
  min-height: 150px;
}
.listA a {
  text-decoration: none;
  color: inherit;
  display: block;
  border: 1px solid #ddd; 
  border: 1px solid var(--gray-color);
  margin: 10px;
  flex: 1;
}
.listA a:hover {
  opacity: 0.8;
}
.listA .text {
  margin: 10px;
  
}

.listA .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  max-width: var(--large-width);
  margin: 30px auto;
}
.listA article {
  flex: 1 1 384px;
  display: flex;
}
.listA h1 {
  text-align: center;
}
/* listBのページ */
.listB h2 {
  font-size: 18px;
}
.listB p {
  font-size: 14px;
  opacity: .8;
}
.listB .photo{
  background-position: center;
  background-size: cover;
  min-height: 0;
  flex: 2;
}
.listB a {
  text-decoration: none;
  color: inherit;
  display: block;
  border: 1px solid #ddd; 
  border: 1px solid var(--gray-color);
  margin: 10px;
  flex: 1;
  display: flex;
}
.listB a:hover {
  opacity: 0.8;
}
.listB .text {
  margin: 10px;
  flex: 3;
}

.listB .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  max-width: var(--large-width);
  margin: 30px auto;
}
.listB article {
  flex: 1 1 300px;
  display: flex;
}
.listB h1 {
  text-align: center;
}
/* listC ページ */

.listC h2 {
  font-size: 18px;
  margin: 0;
}
.listC p {
  font-size: 14px;
  opacity: .8;
  margin: 0;
}
.listC .photo{
  background-position: center;
  background-size: cover;
  min-height: 250px;
  opacity: .6;
}
.listC a {
  text-decoration: none;
  color: inherit;
  display: block;
  border: 1px solid #ddd; 
  border: 1px solid var(--gray-color);
  margin: 2px;
  flex: 1;
  position: relative;
  background-color: currentColor;
}
.listC a:hover {
  opacity: 0.8;
}
.listC .text {
  margin: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  color: var(--text-brigth-color);
}

.listC .container {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  margin: 2px auto;
}
.listC article {
  flex: 1 1 250px;
  display: flex;
}
.listC h1 {
  text-align: center;
}
/* ヘッダーアレンジ */
.header-color {
  background-color: #509ab2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-brigth-color);
}
.header-color .headA {
  background-color: transparent;
  color: inherit;
}
.header-color .headC {
  color: inherit;
}

/* ヘッダーアレンジ２ */
.head-hero {
  background-color: inherit;
  /* background-color: var(--main-color); */
  color: #fff;
  color: var(--text-brigth-color);
}
.head-hero .headA {
  background-color: transparent;
  color: inherit;
}
.head-hero .headC {
  color: inherit;
}
/* ヘッダー固定 */
.header-fixed {
  position: fixed;
}
/* relatedの項目 */
.related h2 {
  font-size: 18px;
}
.related p {
  font-size: 14px;
  opacity: .8;
}
.related .photo{
  background-position: center;
  background-size: cover;
  min-height: 150px;
}
.related a {
  text-decoration: none;
  color: inherit;
  display: block;
  border: 1px solid #ddd; 
  border: 1px solid var(--gray-color);
  margin: 10px;
  flex: 1;
}
.related a:hover {
  opacity: 0.8;
}
.related .text {
  margin: 10px;
  
}

.related ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  max-width: var(--large-width);
  margin: 30px auto;
}
.related li {
  flex: 1 1 300px;
  display: flex;
}
.related h1 {
  text-align: center;
}
@media(min-width:768px){
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-right: auto;
    margin-left: auto;
  }
  .headC {
    display: none;
  }
  .headB ul {
    display: flex;
  }
  .headB {
    display: block !important;
  }
  .headC {
    display: none;
  }
  .conA h1 {
    font-size: 85px;
  }
  .conA p {
    font-size: 24px;
  }
  .conB .container {
    display: flex;
  }
  .conB .container {
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left:auto;
    margin-right: auto;
    
  }
  .conB .text {
    flex: 1;
    padding: 50px;
  }
  .conC .container {
    display: flex;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin: auto;
  }
  .conC .photo{
      flex: 3;
  }
  .conC .text {
    flex: 2;
  }

  .conD .photo{
      flex: 0 0 400px;
  }
  .conD .text {
    flex: 1;
    padding: 50px;

  }
  
  .conD .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footB {
    display: flex;
  }
  .footB div {
    flex: 1;
  }
  .footB div:not(:first-child){
    margin-left: 40px;
  }
  footer .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .footA {
    flex: 0 0 40%;
  }
  .footB {
    flex: 0 0 60%;
  }
  .footC {
    flex: 0 0 100%;
  }
  .history .container {
    display: flex;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin: auto;
  }
  .history .photo{
      flex: 3;
  }
  .history .text {
    flex: 2;
  }
  .contact-wrap {
    display: flex;
  }
  .contact {
    flex: 1;
  }
  .contact:first-child {
    margin-right: 20px;
  }
}
@media(max-width:767px) {
  header .container-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headC {
    margin-right: 10px;
    border: none;
    padding: 0;
    background: none;
    outline: none;
    font-size: 28px;
    opacity: .5;
    cursor: pointer;
  }
  .headC:hover {
    opacity: .3;
  }
  .headB {
    display: none;
  }
  .head-hero .headB {
    background-color: rgba(0,0,0,0.6);
  }
}
@media(max-width:384px) {
  .listB p {
    display: none;
  }
  .listB .photo {
    flex: 1;
  }
}
@media(min-width:100px) {
  .listC article {
    flex:1 1 25%;
  }
  .listC article:nth-child(4n+1){
    flex: 1 1 50%;
  }
}